html {
  overflow-y: scroll;
}
body{
	color: #636D78;
	text-align:justify;
	margin:0px 0 0 100px;
	background-color: black;
	font-family: georgia;
	box-sizing: border-box;
	width: 85%;
	background-image: url("hashia.jpg");
	background-repeat: repeat-y;
	background-position: right top;
  background-size: 10% 100%;
}

/*container*/
/*header*/
.nav{
  float: left;
  width: 208px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 50px;
}
.menubar{
  line-height:50px;
  width:200px;
  font-size: 15px;
  border-left: 2px solid #1A1D22;
}
.menubar a{
  color:#951E2B;
  text-align:center;
  display:block;
  height:52px;
  background-image:url("off2.jpg"); 
  background-repeat:no-repeat;
  text-decoration:none;
  padding-left: 20px;
  box-sizing: border-box;
}
.menubar a:hover{
  background-image:url(on2.jpg);
  background-repeat:no-repeat;
}
.menubar img{
  float: right;
  margin: 5.5% 7% 0 0;
  visibility: hidden;
  box-sizing: border-box;
}
.menubar:hover img{
  visibility: visible;
}
.menubar .selected{
  color: darkgrey;
  background-image: url(on2.jpg);
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

/*main*/
.main{
  margin-top: 3em;
  margin-left: 5em;
  box-sizing: border-box;
}
.col1 img{
  width: 500px;
  height: 600px;
  float: left;
  margin: 45px 3% 0em -15%;
  padding:0;
  box-sizing: border-box;
}
.border{
  border-bottom: 1px solid #1A1D22;
  width: 500px;
  margin: -1em 0 2em 31%;
  box-sizing: border-box;
}
.col2 p{
  width: 900px;
}
.html, .css, .javascript, .java{
  border: 1px solid #1A1D22;
  margin-left: 32%;
  padding: 2px 2px 2px 5px;
  margin-bottom: 1em;
  background-color: #1A1D22;
  color: #b3b3b3;
  font-family: Rockwell Condensed;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.html{
  width: 25%;
}
.css{
  width: 28%;
}
.javascript{
  width: 10%;
}
.java{
  width: 20%;
  margin-left: 32%;
}
.percent{
  width: 300px;
  margin: -16.5% 14% 0 0;
  float: right;
  line-height: 27px;
  box-sizing: border-box;
  font-weight: bold;
}
#para1{
  width:30px;
}
#para2{
  width: 30px;
  margin-left: 25px;
  box-sizing: border-box;
}
#para3{
  width: 30px;
  margin-left: -180px;
  box-sizing: border-box;
}
#para4{
  width: 30px;
  margin-left: -45px;
  box-sizing: border-box;
}
.col3{
  width: 300px;
  float: right;
  margin-top: -24.4%;
  margin-right: 3%;
  box-sizing: border-box;
}
.col3 img{
  margin-right: 1%; 
  box-sizing: border-box;
}
.col3 .cv{
  border-bottom: 1px solid #1A1D22;
  width: 220px;  
  margin-top: -3%;
  box-sizing: border-box;
}
.col4{
  float: right;
  margin-top: -7%;
  margin-right: 3%; 
  width: 300px;
  box-sizing: border-box;
}
.col4 h3{
  float: left;
  margin-right: 7%;
  box-sizing: border-box;
}
.col4 img{
  margin-top: 3%;
  box-sizing: border-box;
}
.col4 .cv{
  border-bottom: 1px solid #1A1D22;
  width: 230px;
  margin-top: -7%;
  box-sizing: border-box;
}

/*responsive in mobile*/
@media screen and (max-width: 720px){
  body{
    background-image: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    padding-bottom: 15px;
    margin:0;
  }
  .header{
    display: none;
  }
  .main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .col1 img{
    width: 150px;
    height: 150px;
    margin-left: 2%;
    box-sizing: border-box;
    margin-top: 0;
  }
  .col2 h2{
    width: 350px;
    display: block;
    margin-left: 6%;
    box-sizing: border-box;
    font-size: 20px;
  }
  ul li{
    width: 320px;
  }
  .col2 p{
    width:350px;
    font-size: 13px;
  }
  .border{
    display: none;
  }
  .html{
    width: 220px;
    margin: 0 0 3% 8%;
    box-sizing: border-box;
  }
  .css{
    width: 250px;
    margin: 0 0 3% 8%;
    box-sizing: border-box;
  }
  .javascript{
    width: 150px;
    margin: 0 0 3% 8%;
    box-sizing: border-box;
  }
  .java{
    width: 200px;
    margin: 0 0 3% 8%;
    margin-bottom: 5em;
    box-sizing: border-box;
  }
  .percent{
    display: none;
  }
  .level{
    display: none;
  }
  h3{
    text-align: center;
  }
  .cv{
    margin-left: 20%;
    box-sizing: border-box;
  }
  .imageabout{
    box-sizing: border-box;
    margin-left: 25%;
    margin-bottom: 15%;
  }
  .col4 h3{
    box-sizing: border-box;
    margin-left: 12%;
  }
  .col4 .cv{
    box-sizing: border-box;
    margin-left: 38px;
  }
}
@media screen (min-width: 720px) and (max-width: 1024px){
  
}

